# Ignore directories managed by Composer.
/vendor/
web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/libraries/

# Ignore sites folder. (App service mounts sites/ fileshare)
web/sites

# Ignore sensitive drush config values
drush/drush-config.yml

# Ignore common local development artifacts.
.idea/
.DS_Store
.env
/.gitattributes
